spring:
  application:
    name: validation

  datasource:
    url: jdbc:postgresql://localhost:5432/validationdb
    username: postgres
    password: Jaas@postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  docker:
    compose:
      enabled: false

server:
  port: 8080
